@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  /* Primary */
  --lightred: hsl(0, 100%, 67%);
  --orangeyyellow: hsl(39, 100%, 56%);
  --greenteal: hsl(166, 100%, 37%);
  --cobaltblue: hsl(234, 85%, 45%);

  /* Gradients */
  --background-gradient: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --circle-gradient: linear-gradient(hsl(256, 72%, 46%, 1), hsl(241, 72%, 46%, 0));

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgrayblue: hsl(224, 30%, 27%);
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
}

main {
  padding-top: 10px ;
  background: var(--background-gradient);
  border-radius: 0 0 32px 32px;
  height: 95vw;
  text-align: center;
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
}

h1 {
  font-size: 56px;
  font-weight: 800;
  color: var(--white);
  margin-top: 25px;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  margin: 30px auto 10px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--lightlavender);
  margin: 20px;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: var(--lightlavender);  
  margin: 0px auto;
  width: 75vw;
  text-align: center;

}

#circle {
  background: var(--circle-gradient);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: inline-block;
}

#circle > p {
    width: 20vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
